doctype html 
html 
  head 
    title
    style.
      body {
        font-family: Georgia, serif;
        background-color: none;
        font-size:0.4rem;
        text-align: left; 
        margin-left: 4rem;
        margin-top: 2rem;
      }
      h1 {
        color: black;
      }
  body 
    h1
      | Hello, #{name}!
      br
      | Business Owner
    